/*---------- Font-Weight Variables ----------*/
$font-regular: normal;
$font-semi-bold: 600;
$font-bold: bold;

/*---------- Border-Radius Variables ----------*/
$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 16px;
$radius-full: 100%;

/*---------- Colors Variables ----------*/
$blue-primary: #2653d4;
$orange-primary: #d0541e;

$text-color: #3a3b45;
$text-grey: #9899a6;

$black: #000000;
$white: #ffffff;
$grey: #9899a6 ;

$bg-color: #f8f9fc;

/*---------- Media-Size Variables ----------*/
$max-size: 768px;
